/* Global CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.container {
  width: 550px;
  margin: 0 auto;
}

/* Navbar component CSS */
nav {
  fill: #fff;
  height: 70px;
  padding: 23px 30px;
  filter: drop-shadow(
    0px 2.9825618267059326px 7.456404209136963px rgba(0, 0, 0, 0.1)
  );
}

nav > img {
  width: 82.02px;
  height: 25.352px;
}

/* Hero component CSS */

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  align-self: center;
  max-width: 400px;
}

.hero--header {
  margin: 16px 0px;
}

.hero--text {
  margin-top: 0;
}

/* Card component CSS */
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}
.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card--image {
  width: 100%;
  height: 233px; ;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

.card--price {
  margin-top: auto;
}

.card--badge {
  position: absolute;
  top : 6px;
  left: 6px;
  padding: 3px 5px;
  background-color: white;
  border-radius: 4px;
  font-weight: bold;
}